.card-img-top{
    height: 200px;
     object-fit: cover;

}


.button{
    width: 40%;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.footer{
    padding: 25px 0;
}
    @media screen and (max-width: 992px) {
        .titleproduct{
            font-size: 16px;
        }

    }

@media screen and (max-width: 767px) {
    .card-img-top{
        height: 400px;
        object-fit: unset;
    }
    
}

